.sectionPost {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.singlePost {
  max-width: 1000px;
  border: 1px solid var(--b-color);
  padding: 1rem;
  border-radius: 5px;
}

.singlePost h1 {
  font-size: 2em;
}

.singlePost div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
